@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:wght@300;400&family=Roboto:wght@500&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-green: #0C751E;
    --main-dark-blue: #022036;
    --main-white: #f8f7f7;
    --hover-green: #109226;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--main-white); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-green);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hover-green); 
  }

header {
    height: 5rem;
    width: 100%;
    background-color: var(--main-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -2px 10px;
    margin-bottom: 5rem;
}

.header__a-logo {
    height: 4rem;
    width: auto;
    margin-left: 1rem;
}

.header__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.header__item {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

body {
    background-color: var(--main-white);
}

/* Styling for landing page */

.wrapper {
    max-width: 1000px;
    margin: auto;
}

.card {
    background: white;
    margin-bottom: 2rem;
}

.card__container--big-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: all .2s ease-in-out;
}

.card__container--big-card:hover {
    box-shadow: 5px 5px 22px -8px;
}

.card__img--big-card {
    background-image: url(/assets/photos/01-day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s ease-in-out;
}
.card__img--big-card:hover {
    background-image: url(/assets/photos/01-night.jpg);
}

.card__info-section--big-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    gap: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card__title--welcome {
    font-size: xx-large;
}

.card__title {
    font-family: 'Ubuntu', sans-serif;;
    font-weight: 700;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.card__text {
    font-family: 'Ubuntu', sans-serif;
    margin: .5rem;
}

.card__button {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    background-color: var(--main-green);
    padding: 1rem 1.5rem;
    color: var(--main-white);
    border-radius:.5rem;
    align-self: flex-end;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    transition: all .2s ease-in;
}

.card__button--big-card{
    align-self: flex-start;
    margin-right: 0;
    margin-bottom: 0;
}

.card__button:hover {
    background-color: var(--hover-green);
}

.side-to-side{
    display: flex;
    gap: 1rem;
}

.card__container--small-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .2s ease-in-out;
}

.card__container--small-card:hover {
    box-shadow: 5px 5px 22px -8px;
}
/* Fick inte detta till att styra storleken på bilden..
.card-img {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*/
.card__img--small-card-left {
    background-image: url(/assets/photos/02-day.jpg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}

.card__img--small-card-left:hover {
    background-image: url(/assets/photos/02-night.jpg);
}

.card__img--small-card-right {
    background-image: url(/assets/photos/03-day.jpg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.card__img--small-card-right:hover {
    background-image: url(/assets/photos/03-night.jpg);
}

@media screen and (max-width: 1020px) {
    .wrapper {
        max-width: 80%;
    }

    
}

@media screen and (max-width: 850px) {
    header {
        height: 4rem;
    }

    .header__a-logo {
        height: 3rem;
    }

    .header__item {
        height: 3rem;
        width: 3rem;
    }

    .card__container--big-card {
        display: flex;
        flex-direction: column-reverse;
    }

    .card__img--big-card {
        height: 300px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .side-to-side {
        flex-direction: column;
    }

    .card__button {
        align-self: flex-start;
        margin-left: 1.5rem;
        margin-top: 1rem;
    }

    .card__button--big-card {
        margin: 0;
    }
}